$p:"../../../../../themes/b1/assets/fonts/";

@font-face {
  font-family: comic;
  font-style: normal;
  font-weight: 400;
  src:
    url($p+"comic.eot") format("eot"),
    url($p+"comic.woff2") format("woff2"),
    url($p+"comic.woff") format("woff"),
    url($p+"comic.svg#Comic Sans MS") format("svg"),
    url($p+"comic.ttf") format("truetype");
}


$size:1body{
  font-family: arial;
  font-size: 1.2rem;
  color:rgb(30, 0, 129);
}
;

body {
  font-family: comic, arial;
  font-size: $size*1em;
  color: #2c0000;
}
