@font-face {
  font-family: comic;
  font-style: normal;
  font-weight: 400;
  src: url("../../../../../themes/b1/assets/fonts/comic.eot") format("eot"), url("../../../../../themes/b1/assets/fonts/comic.woff2") format("woff2"), url("../../../../../themes/b1/assets/fonts/comic.woff") format("woff"), url("../../../../../themes/b1/assets/fonts/comic.svg#Comic Sans MS") format("svg"), url("../../../../../themes/b1/assets/fonts/comic.ttf") format("truetype");
}

body {
  font-family: comic, arial;
  font-size: 1.2em;
  color: #2c0000;
}
