description = "Navigation bar"
==
<header id="layout-header">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">

    <a class="navbar-brand {% if this.page.title == 'Accueil' %}active{% endif %}" href="/"
      title="{% if this.page.title == 'Accueil' %}Vous êtes à l'accueil{% else %}Retour à l'accueil{% endif %}"></a>

    <ul class="navbar-nav pl-20 mr-2">
      <li class="nav-item"><a class="{% if this.page.title == 'Accueil' %}active{% endif %}" href="/">Boosteur</a></li>
    </ul>

    {#
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% if this.page.title == 'W' %}active{% endif %}"><a class="nav-link" href="w">W</a></li>
      </ul>
    #}

    <ul class="navbar-nav" id='userMenu1'>
      <li>{% partial 'layout/cai/userMenu' %}</li>
    </ul>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03"
      aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" id="menulist"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample03">

      <ul class="navbar-nav mr-auto">

        {% verbatim %}

        {% endverbatim %}

        {#
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">Dropdown</a>
              <div class="dropdown-menu" aria-labelledby="dropdown03">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          #}

        <li class="nav-item {% if this.page.title == 'b001' %}active{% endif %}">
          <a class="nav-link" href="bea">{{ 'bea'|capitalize }}</a>
        </li>

        <!--
          <li class="nav-item {% if this.page.title == 'b001' %}active{% endif %}">
            <a class="nav-link" href="b001">{{ this.theme.getConfigValue('name')|capitalize }}</a>
          </li>        
        -->

      </ul>


      {#
        <ul class="form-inline navbar-nav collapse">
          <form class="form-inline my-0 my-md-0">
            <input class="form-control" type="text" placeholder="Search">
          </form>
        </ul>
      #}

    </div>


    <ul class="navbar-nav" id='userMenu2'>
      {% partial 'layout/cai/userMenu' %}
    </ul>

  </nav>
</header>