<li class="nav-item">
  {% if user %}
  <a hre="#" class="nav-link" data-request="onLogout" data-request-data="redirect: 'login'" style="cursor:pointer"
    title="Se déconnecter" data-attach-loading>C.A.I. {{ user.username|capitalize }}</a>
  {% else %}
  <a href="login">Login</a>
  {% endif %}
</li>
