description = "Navigation bar"
==
<section id="navbar" class="m-b-3">
	<nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
		<div class="container">
			<a class="navbar-brand" href="{{ 'accueil'|page }}">Boosteur</a>
			<ul class="nav navbar-nav pull-xs-right">
				<li class="nav-item{{ this.page.baseFileName == 'login' ? ' active' }}">
					<a class="nav-link" href="{{ 'login'|page }}">login</a>
				</li>
			</ul>
		</div>
	</nav>
</section>