{%  set var = __SELF__.var %}

{#
  Calcul de la Puissance de votre Groupe
  {{ var[0].nbr }} membre{% if var[0].nbr > 1 %}s{% endif %}.
#}

{% if var[0].nbr %}

<section class="card card-cascade narrower mb-5">
  <div class="view py-3 gradient-card-header info-color-dark">
    <h5 class="mb-0">Puissance du Groupe</h5>
  </div>

  <div class="row">
    {% for c in var %}
    {% if c.nbr %}
    <div class="col mx-1 my-2 text-center">
      <span class="min-chart my-2" id="chart-sales" data-percent="{{ c.pct }}">
        <span class="percent"></span>
      </span>
      <h5>
        <span class="badge green p-2">{{ c.badge }}
          {# <i class="fa fa-arrow-circle-up ml-1"></i> #}
        </span>
        <button type="button" class="btn btn-info btn-sm p-2" data-toggle="tooltip" data-placement="top"
          title="{{ c.tooltip }}">
          <i class="fa fa-question"></i>
        </button>
      </h5>
      <h6><span class="{% if c.actifs %}text-success{% endif %}">{{ c.actifs|number_format(0, ',',' ') }}</span> / <span class="{% if c.pct < 77 %}text-danger{% else %}text-success{% endif %}">{{  c.nbr|number_format(0, ',',' ') }}</span>
      </h6>
    </div>
    {% endif %}
    {% endfor %}
  </div>

</section>

{% else %}
<span class="fab fa-dev h5"> Vous n'avez pas encore de filleul.</span>
{% endif %}

{# 2do Affichage paragraphs extensibles explicatifs selon affichage au-dessus #}

{# 2do Conseils & directives si pas de filleuls #}
