header#layout-header .navbar {
  padding: .2rem .7rem;
}

header#layout-header .navbar-brand {
  background-image: url("../images/logos/logo_150x93_c7.png");
  background-size: 80%;
  padding: 0 70px 20px 0;
  background-repeat: no-repeat;
  background-position: 0 50%;
}

header#layout-header .pl-20 {
  margin-left: -20px;
}

header#layout-header #userMenu1,
header#layout-header #userMenu2 {
  padding-right: 10px;
}

footer {
  font-style: italic;
  color: grey;
  font-size: 77%;
  text-align: right;
  margin-right: 5%;
}

#page .jumbotron {
  margin: 30px auto 0;
  width: 100%;
}

@media (max-width: 768px) {
  #page {
    max-width: 97%;
  }
}

#page .done {
  -webkit-text-decoration: line-through #444444;
          text-decoration: line-through #444444;
  color: grey;
}
