@import 'site/_header.scss';
@import 'site/_footer.scss';

#page {
  .jumbotron {
    margin: 30px auto 0;
    width: 100%;
  }

  @media (max-width: 768px) {
    max-width: 97%;
  }

  .done {
    text-decoration: line-through rgb(68, 68, 68);
    color:grey;
  }

}
