title = "Login"
url = "/login"
layout = "default"
is_hidden = 0
==
{% put jumbotron %}
  <h1 class="display-3 wow animated zoomInUp" data-wow-delay=".7s">Login</h1>
  <p class="lead wow animated zoomInDown" data-wow-delay="2.5s">En cours d'installation.</p>
  <p class="wow animated zoomInUp" data-wow-delay="5s">@ bientôt...</p>
{% endput %}
