<head>

  <meta charset="utf-8">
  <title>{{ snl == 'cai' ? 'L/' }} {{ this.page.title }} |
    {{ user.username ? 'CAI ' ~ user.username|capitalize : 'Boosteur' }} </title>

  {% if this.page.__isset('meta_title') and this.page.meta_title is not empty %}
  <meta name="title" content="{{ this.page.title }} {{ this.page.meta_title }}">
  {% else %}
  <meta name="title" content="{{ this.page.title }}">
  {% endif %}

  {% if this.page.__isset('meta_description') and this.page.meta_description is not empty %}
  <meta name="description" content="{{ this.page.meta_description }}">
  {% endif %}

  <meta name="author" content="LC">
  <meta name="generator" content="GC7">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <link rel="icon" type="image/gif" href="{{ 'animated_favicon.gif'|app }}">
  <link rel="icon" type="image/gif" href="{{ 'favicon.ico'|app }}">

  {# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> #}

  <link href="{{ [
    'assets/dist/css/cai/mdb.min.css',
    'assets/dist/css/cai/mdb-4.8.11.min.css',
    'assets/dist/css/cai/bootstrap.min.css',
    'assets/dist/css/cai/style.css',
    'assets/fonts/fontawesome-5.11.2/css/all.css'
  ]|theme }}" rel="stylesheet">
  
  {% styles %}

</head>
{#
  'assets/fonts/fontawesome-5.11.2/css/all.min.css'
#}
