<head>

    <meta charset="utf-8">
    <title>{{ snl == 'cai' ? 'L/' }} {{ this.page.title }} |
      {{ user.username ? 'CAI ' ~ user.username|capitalize : 'Boosteur' }} </title>
  
    {% if this.page.__isset('meta_title') and this.page.meta_title is not empty %}
    <meta name="title" content="{{ this.page.title }} {{ this.page.meta_title }}">
    {% else %}
    <meta name="title" content="{{ this.page.title }}">
    {% endif %}
  
    {% if this.page.__isset('meta_description') and this.page.meta_description is not empty %}
    <meta name="description" content="{{ this.page.meta_description }}">
    {% endif %}
  
    <meta name="author" content="LC">
    <meta name="generator" content="GC7">
  
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
  
    <link href="{{ [
          'assets/css/b4_431.min.css',
          'assets/css/animate.css',
          'assets/css/b.css',
          'assets/fonts/fontawesome-5.11.2/css/all.css'
        ]|theme }}" rel="stylesheet">
  
    {% styles %}
  
  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '2541122476000577');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=2541122476000577&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->
  
  </head>