==
<head>
  
  <meta charset="utf-8">
  
  <title>{{ snl == 'cai' ? 'L/' }} {{ this.page.title }} |
      {{ user.username ? 'CAI ' ~ user.username|capitalize : 'Boosteur' }} </title>
      
  <meta name="description" content="{{ this.page.meta_description }}">
  <meta name="title" content="{{ this.page.meta_title }}">
  <meta name="author" content="C57">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="image/gif" href="{{ 'assets/images/animated_favicon.gif'|theme }}">
  <link rel="icon" type="image/gif" href="{{ 'assets/images/favicon.ico'|theme }}">

  <!--Cf. BEA pour last fontawesome -->
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Bootstrap core CSS -->
  <link href="{{ 'assets/dist/css/cai/bootstrap.min.css'|theme }}" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="{{ 'assets/dist/css/cai/mdb.min.css'|theme }}" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="{{ 'assets/dist/css/cai/style.css'|theme }}" rel="stylesheet">

<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '1303815023154985');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=1303815023154985&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

</head>




<head>
  
  <meta charset="utf-8">
  <title>{{ snl == 'cai' ? 'L/' }} {{ this.page.title }} |
    {{ user.username ? 'CAI ' ~ user.username|capitalize : 'Boosteur' }} </title>

  {% if this.page.__isset('meta_title') and this.page.meta_title is not empty %}
  <meta name="title" content="{{ this.page.title }} {{ this.page.meta_title }}">
  {% else %}
  <meta name="title" content="{{ this.page.title }}">
  {% endif %}

  {% if this.page.__isset('meta_description') and this.page.meta_description is not empty %}
  <meta name="description" content="{{ this.page.meta_description }}">
  {% endif %}

  <meta name="author" content="LC">
  <meta name="generator" content="GC7">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <link href="{{ [
        'assets/css/b4_431.min.css',
        'assets/css/animate.css',
        'assets/css/b.css'      
      ]|theme }}" rel="stylesheet">
  {% styles %}

</head>