subject = "[Votre C.A.I.] Demande de Reset du mot de passe"
description = "Un utilisateur à demandé un reset du mot de passe"
==
Bonjour {{ name }}


Quelqu'un a demandé le reset du mot de passe de votre C.A.I <strong>{{ username }}</strong>...

Si cela n'est pas de votre fait, merci de ne pas tenir compte de ce message.

Utilisez ce code d'activation pour redéfinir votre mot de passe:

{% partial 'promotion' body %}
{{ code }}
{% endpartial %}

Ou vous pouvez aussi tout simplement suivre ce lien:

{% partial 'button' url=link type='positive' body %}
Redéfinir mon mot de passe
{% endpartial %}

@ très bientôt, dans votre Centre d'Affaires <strong>{{ username }}</strong>.


Votre secrétariat.


{% partial 'subcopy' body %}
    **Ceci est un message automatique. Merci de ne pas y répondre.**
{% endpartial %}
