title = "Login"
url = "/login"
layout = "cai"
meta_title = "Boosteur"
meta_description = "Entrée dans le Centre d Affaire Boosteur"
is_hidden = 0

[account]
redirect = "bea/accueil"
paramCode = "code"
forceSecure = 0

[Grcote7\User\Account\Components\Account accountB]
==
<div class="jumbotron">
  
  {% if not user %}

  <div class="row">

    <h4 class="col-12 col-sm-3 display-4 wow animated zoomInDown mb-3" data-wow-delay=".7s">Login</h4>

    <div class="col-12 col-sm-9 wow animated zoomInUp" data-wow-delay="1.5s">
      <h5>Entrez dans votre C.A.I.</h5>
      {% partial accountB ~ '::signin' %}
    </div>

  </div>

  {% else %}
  
  <h1 class="display-3 wow animated zoomInUp" data-wow-delay=".7s">Compte</h1>

  {% partial accountb ~ '::update' %}

  {% endif %}

  {#
    <p class="lead wow animated zoomInDown text-center" data-wow-delay="2.5s">En cours d'installation.</p>
    <p class="wow animated zoomInUp" data-wow-delay="5s">@ bientôt...</p>
  #}

</div>