title = "Oubli Pass"
url = "/oubli-pass/:code?"
layout = "cai"
is_hidden = 0

[resetPassword]
paramCode = "code"

[Grcote7\User\Account\Components\ResetPassword resetPasswordB]
==
<div class="jumbotron">
  {% component 'resetPasswordB' %}
</div>

{#
  {% put scripts %}
  <script>
    $( document ).ready(function() {
      $('#uuu').click();
    });
    </script>
{% endput %}
#}
