title = "Accueil"
url = "/"
layout = "cai"
meta_title = "Boosteur"
meta_description = "Centre d Affaires International"
is_hidden = 0
==
<section id="jumbotron" class="m-t-3">
  <div class="jumbotron">
    <div class="container text-center">

      {% if user %}
      <ul class="navbar-nav" id='userMenu1'>

        {{ debug(user) }}

        <h5 class="display-5 wow animated zoomInUp mt-0" data-wow-delay=".7s">Bienvenue dans votre C.A.I.{{ user.name ? ', ' ~ user.name|capitalize ~' !'}}</h5>
      </ul>

      {% else %}
      <h1 class="display-4 wow animated zoomInUp" data-wow-delay=".7s">Boosteur</h1>
      {% endif %}

      <p class="lead wow animated zoomInDown" data-wow-delay="2.5s">Le retour...</p>
      <p class="wow animated zoomInUp" data-wow-delay="5s">@ très bientôt !</p>

    </div>
  </div>
</section>
