<p>Redéfinition de votre mot de passe réussie...</p>
<p>Vous pouvez maintenant vous connecter</p>

<div class="col text-right">
  <a href="login" class="btn btn-primary" data-attach-loading>Se connecter</a>
</div>
