{% set nocode =  __SELF__.code is empty %}

<form data-request="{{ __SELF__ }}::onResetPassword"
  data-request-update="'{{ __SELF__ }}::complete': '#partialUserResetForm'">

  {% if nocode %}

  <h4>Vérifiez votre boîte emails pour y trouver votre code d'activation.</h4>

  <div class="form-group">
    <label for="resetCode">Code d'activation</label>
    <input name="code" type="text" class="form-control" id="resetCode" placeholder="Entrez le code d'activation"
      value="{{ __SELF__.code }}">
  </div>

  {% else %}

  <h4>Saisissez simplement votre nouveau mot de passe ci-dessous pour le redéfinir.</h4>

  <input name="code" type="hidden" id="resetCode" value="{{ __SELF__.code }}">
  
  {% endif %}

  <div class="form-group">
    <label for="resetPassword">Nouveau mot de passe</label>
    <input name="password" type="password" class="form-control" id="resetPassword"
      placeholder="Saisissez votre nouveau mot de passe">
  </div>

  <div class="col text-right">
    <button type="submit" class="btn btn-primary" data-attach-loading>Redéfinir mon mot de passe</button>
  </div>

</form>
