<div class="row">
  <div class="lead col col-sm-6 display-5 wow animated zoomInDown mb-3" data-wow-delay=".7s">
    <h4>Vous avez oublié ou perdu votre mot de <span class="text-nowrap">passe ?</span></h4>
  </div>
  <div class="col col-sm-6 display-5 wow animated zoomInDown mb-3 text-justify" data-wow-delay="2s">
    <p class="h5">Pas de soucis ! Saisissez ci-dessous votre adresse email et vérifiez votre boîte email.</p>
    <p class="lead small font-italic">N.B.: Si dans celle-ci, vous ne trouvez pas de couriel de votre CAI, pensez à regarder le dossier des courriers indésirables (Dossier des Spams)</p>
  </div>
</div>

<div class="row">
  <div class="col-12 wow animated zoomInUp" data-wow-delay="3s">
    <form data-request="{{ __SELF__ }}::onRestorePassword"
      data-request-update="'{{ __SELF__ }}::reset': '#partialUserResetForm'">
      <div class="form-group">
        <label for="userRestoreEmail">Votre courriel</label>
        <input name="email" type="email" class="form-control" id="userRestoreEmail" placeholder="Indiquez votre email" value="{{ snl == 'cai' ? 'lio181@yaho2o.fr' }}">
      </div>

      <div class="col text-right">
        <button type="submit" class="btn btn-primary" data-attach-loading id="uuu">Redéfinir mon mot de passe</button>
      </div>
    </form>
  </div>
</div>
