{{ form_ajax('onSignin') }}

<div class="form-group">
  <label for="userSigninLogin">Pseudo</label>
  <input name="login" type="text" class="form-control" id="userSigninLogin" placeholder="Écrivez votre pseudo" />
</div>

<div class="form-group">
  <label for="userSigninPassword">Mot de passe</label>
  <input name="password" type="password" class="form-control" id="userSigninPassword"
    placeholder="Entrez votre mot de passe" />
</div>

{# 
  <div class="form-group">
    <div class="checkbox">
      <label><input name="remember" type="checkbox" value="1"> Rester connecté</label>
    </div>
  </div>
#}
<div class="row">
  <div class="col">
    <a class=" font-italic text-decoration-none" href="oubli-pass">Mot de passe perdu ?</a>
  </div>
  
  <div class="col text-right">
    <button type="submit" class="btn btn-primary" data-attach-loading>Entrer</button>
  </div>
</div>

{{ form_close() }}
