description = "The Jumbotron"
==
<section id="jumbotron" class="m-t-3">
	<div class="jumbotron">
		<div class="container text-xs-center">
			{% placeholder jumbotron default %}
  <h1 class="display-3 wow animated zoomInUp" data-wow-delay=".7s">Boosteur</h1>
  <p class="lead wow animated zoomInDown" data-wow-delay="2.5s">Le retour...</p>
  <p class="wow animated zoomInUp" data-wow-delay="5s">@ bientôt !</p>
			{% endplaceholder %}
		</div>
	</div>
</section>