description = "BEA layout"

[session]
security = "all"
==
<?php

function onStart(){

    // Pour tuer le cash en prod
    \Artisan::call('cache:clear');
    \Artisan::call('view:clear');

    $this['snl'] = $_SERVER['HTTP_HOST'];
    \Debugbar::enable();
    error_reporting(E_ALL);
    // Debugbar::disable();
    // $gc7 = Debugbar::addCollector(new DebugBar\DataCollector\MessagesCollector('gc7'));
    // $gc7['gc7']->info ( 'Server Name: ' . $this['snl'] );
    // info('ok');
}
?>
==
<!DOCTYPE html>
<html lang="fr">

{% partial 'layout/bea/head' %}

<body class="fixed-sn light-blue-skin">

  {% partial "layout/bea/nav" %}

  {% page %}

  <script src="{{ [
    'assets/dist/js/cai/jquery-3.3.1.min.js',
    'assets/dist/js/cai/popper.min.js',
    'assets/dist/js/cai/bootstrap.min.js',
    'assets/dist/js/cai/mdb.min.js',
    ]|theme }}">
  </script>
    {#
      'assets/fonts/fontawesome-5.11.2/js/fontawesome.min.js'
    #}

  {% framework extras %}
  {% scripts %}

  <script>
    // SideNav Initialization
    $(".button-collapse").sideNav();
    
    $(function () {
      $('[data-toggle="tooltip"]').tooltip({ delay: { show: 500, hide: 3000 }, animation: true });
    })
    
    console.log('Layout BEA OK');
  </script>

</body>

</html>
