[session]
security = "all"
==
<?php
function onStart(){

    // Pour tuer le cash en prod
    // \Artisan::call('cache:clear');
    // \Artisan::call('view:clear');

    $this['snl'] = $_SERVER['HTTP_HOST'];
    // \Debugbar::enable();
    // Debugbar::disable();
    // $gc7 = Debugbar::addCollector(new DebugBar\DataCollector\MessagesCollector('gc7'));
    // $gc7['gc7']->info ( 'Server Name: ' . $this['snl'] );
    // info('ok');
}
?>
==
<!DOCTYPE html>
<html lang="fr">

{% partial 'layout/cai_head' %}

<body>
  {% flash %}
  <p data-control="flash-message" class="flash-message fade {{ type }}" data-interval="15">
    {{ message }}
  </p>
  {% endflash %}


  {% partial 'layout/cai/navbar' %}

  <section id="page" class="container">
    {% page %}
  </section>

  {% partial 'layout/cai/footer' %}

  <script src="{{ [
    'assets/js/jq341.min.js',
    'assets/js/tether.min.js',
    'assets/js/b4_431.min.js',
    'assets/js/popper_1_14_7.min.js',
    'assets/js/wow.min.js',
    'assets/js/app.js'
  ]|theme }}"></script>

  {% framework extras %}
  {% scripts %}
</body>

</html>
