title = "B001"
url = "/b001"
layout = "cai"
is_hidden = 0
==
{# 2add: Malika M.menebhi@laposte.net parr / grcote7 #}
<div class="jumbotron">
  <h4 class="display-5 wow animated zoomInUp mt-0" data-wow-delay=".7s">Prévisionnel & Historique Fin 2019 - Début 2020
  </h4>

  <div class="display-5 wow animated zoomInUp mt-0" data-wow-delay="1.5s">

    <small>En parallèle à ce plan d'actions prévisionnel, et selon les disponibilités par rapport au calendrier et la
      réalisation effective des cibles principales:
      <ul>
        <li>Remise en place du fonds d'investissement des <abbr
            title="Rappel: Qualification 3P requise pour en profiter">Actions Collectives</abbr> (Montant actuel: 743,37
          €)</li>
        <li>Possibilité de régler son <abbr
            title="Montant inchangé: 21 € T.T.C. pour les 4 premiers mois, soit 5.25 € / m.">adhésion
            personnelle</abbr>, même si pas dûe (Comptera alors pour le triple de temps de
          validité P si courant novembre, le double si courant décembre - Nombre maximum de réservations de Pass par
          C.A.I.: 7)</li>
        <li>Mise en place du nouveau <abbr title="Règlement Général sur la Protection des Données">RGPD</abbr></li>
        <li>Mise en place du tutorat pour chaque membre, et de la ligne de Comm. (Communication) personnelle pour chaque
          boosteur via sa lignée d'aide.</li>
        <li>Déblocage de la réception des emails (Management du réseaux, informations & marketing) qu'après une première
          connection effective du boosteur dans son C.A.I.</li>
      </ul>
    </small>

    <p><strong>07/01/20: Lancement officiel</strong><br>À ce moment, les LV sont recalculés en temps réels, les
      mutations (Transferts automatisés des Associés) effectives et libération des disponibilités (Soldes) des comptes
      (Rappel du seuil de retrait: 77 C7) - Tout cela est gelé jusqu'à cette échéance.</p>

    <p>15/12/19 [Deadline: 24/12/19]: Gestion / Back-End des Agents d'encaissements (LV 5P mini - Cibles principales:
      Continents africain & asiatique)</p>

    <p>25/11/19 [Deadline: 10/12/19]: Établissement du plan de qualification - LV 1 à LV 7 basé non plus sur un Shop,
      mais sur la formation pour tous au Git</p>

    <p><span class="fab fa-dev fa-lg"></span> 07/11/19 [Deadline: 20/11/19]: Reconstruction de la rémunération sur la
      dissimination (Gagnez de nouveaux C7 ! -
      Même plan de Marketing que Club Adel)</p>

    <p><span class="fa fa-check"></span> <span class="done">15/10/19 [Deadline: 29/10/19]: Reconstitution des comptes
        (Page Compta [Retrouvez vos <abbr title="Monnaie interne du concept - Rappel: 1 C7 = 1.00 €">C7</abbr> !])</p>

    <p><span class="fa fa-check"></span> <span class="done">07/10/19 [Deadline:23/10/19]: Reconstruction du Réseaux
        (Page Groupe - Voyez votre réseau !)</p>

    <p><span class="fa fa-check"></span> <span class="done">27/09/19 [Deadline: 07/10/19]: Restauration de la base de
        données des membres de Boosteur Club-Adel (Possibilité de se loguer).</span></p>

    <p><span class="fa fa-check"></span> <span class="done">15/09/19 [Deadline: 21/09/19]: Mise en place de la première
        version du site</span> -
      Les évolutions graphiques futures étant du fait des LV 5P+</p>

    <p>Grand Succès dans votre <abbr title="Centre d'Affaires International">C.A.I.</abbr> ! Go <abbr
        title="Level = Niveau">LV</abbr> <abbr
        title="Plus haute qualification du 1er niveau d'évolution d'un boosteur">7P</abbr> !</p>
  </div>
</div>