title = "Accueil"
url = "/bea"
layout = "bea"
is_hidden = 0

[session]
security = "user"
redirect = "bea/login"

[cai]
==
<?php
function onStart(){
  // error_reporting(E_ALL);
  // $this->addJs('assets/js/bea_uuu.js');
}
?>
==
<main>
  <!--Main layout-->

  <div class="container-fluid">
    <div class="row text-center w-75">
      <div class="col-12">
        <h1>C.A.I. <strong>{{ user['username'] }}</strong></h1>
        <p><strong>C</strong>entre d&apos;<strong>A</strong>ffaires <strong>I</strong>nternationnal (N°.
          d'immatriculation: {{ user['id'] }})</p>
      </div>
    </div>
    <div class="raw">
      <p>{% component 'cai' %}</p>
    </div>

    <i class="fab fa-dev fa-lg"></i>

  </div>

</main>
<!--Main layout-->
