title = "MOM"
url = "groupe"
layout = "bea"
is_hidden = 0

[session]
security = "user"
redirect = "bea/login"

[group]
==
<main>

  <!--Main layout-->
  <div class="container-fluid">
    <h1 class="mb-3">Votre Groupe <span class="fab fa-dev h5"></span></h1>
    {% component 'group' %}
  </div>

</main>
