title = "MOM 0"
url = "/groupe/affichage0"
layout = "beatreeview"
is_hidden = 0

[session]
security = "user"
redirect = "bea/login"

[groupview0]
==
{# 2do tester plugin Treeview - https://mdbootstrap.com/plugins/jquery #}

<main>

  <!--Main layout-->
  <div class="container-fluid">
    <h1>Votre Groupe (Visu 0 avec TreeView)</h1>
    <p>(2 premières profondeurs)</p>
    {% component 'groupview0' %}
  </div>

</main>
