title = "MOM 0"
url = "/groupe/gestion0"
layout = "bea"
is_hidden = 0

[session]
security = "user"
redirect = "bea/login"

[u]
==
<main>

  <!--Main layout-->
  <div class="container-fluid">
    <h1>Votre Groupe (Gestion 0)</h1>
    <p>(2 premières profondeurs)</p>
    {% component 'u' %}
  </div>

</main>
