title = "MOM"
url = "groupe_av"
layout = "bea"
is_hidden = 0

[session]
security = "user"
redirect = "bea/login"

==
function onStart(){
  $this->addJs('assets/js/bea_ouuu.js');
 }
 ==
<main>

    <section class="card card-cascade narrower mb-5">
        <div class="row">
          
          <div class="col">
            <div class="view py-3 gradient-card-header info-color-dark">
              <h5 class="mb-0">Etat du Groupe</h5>
            </div>
            <span class="min-chart" id="chart-sales" data-percent="56">
              <span class="percent"></span>
            </span>
            <h5><span class="label green badge">Sales <i class="fas fa-arrow-circle-up"></i></span></h5>
          </div>
          
          <div class="col">
            <span class="min-chart my-4" id="chart-sales" data-percent="75">
              <span class="percent"></span>
            </span>
            <h5>
              <span class="badge green p-2">Change
                <i class="fa fa-arrow-circle-up ml-1"></i>
              </span>
              <button type="button" class="btn btn-info btn-sm p-2" data-toggle="tooltip" data-placement="top"
                title="Percentage change compared to the same period in the past">
                <i class="fa fa-question"></i>
              </button>
            </h5>
          </div>
          
        </div>
      </section>
 
 {#
  
  [group]
  
  <!--Main layout-->
  <div class="container-fluid">
    <h1>Votre Groupe</h1>
    
    {% component 'group' %}
  </div>
  #} 
  
</main>
