==
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link href="{{ [
      'assets/vendor/bootstrap/dist/css/bootstrap.min.css',
      'assets/vendor/font-awesome/css/font-awesome.min.css',
      'assets/vendor/animate.css/animate.min.css',
      'assets/vendor/plyr/dist/plyr.css',
      'assets/css/b.css'
    ]|theme }}" rel="stylesheet">
    {% styles %}

  </head>
  
<body>

	{% partial 'une/navbar' %}

  {% partial 'jumbotron' %}

  <section id="page" class="container">
    {% page %}
  </section>

  {% partial 'une/footer' %}
  
  <script src="{{ [
    'assets/vendor/jquery/dist/jquery.min.js',
    'assets/vendor/tether/dist/js/tether.min.js',
    'assets/vendor/bootstrap/dist/js/bootstrap.min.js',
    'assets/vendor/wow/dist/wow.min.js',
    'assets/vendor/holderjs/holder.min.js',
    'assets/js/scripts.js'
  ]|theme }}"></script>
  {% framework extras %}
  {% scripts %}
</body>
</html>
