header#layout-header {

  .navbar {
    padding: .2rem .7rem;
  }

  .navbar-brand {
    background-image: url('../images/logos/logo_150x93_c7.png');
    background-size: 80%;
    padding: 0 70px 20px 0;
    background-repeat: no-repeat;
    background-position: 0 50%;
  }

  .pl-20 {
    // background-color: red;
    margin-left: -20px;
  }

  #userMenu1,
  #userMenu2 {
    padding-right: 10px;
  }

}
